@font-face {
    font-family: 'ZCOOL QingKe HuangYou';
    src: url('ZCOOLQingKeHuangYou-Regular.woff2') format('woff2'),
        url('ZCOOLQingKeHuangYou-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

